
.bgimage {
    height:100vh;
    background: url('./img/background.png');
    background-size:cover;
    position:relative;
}
#about{
    height:100vh;
    background: url('./img/background.png');
    background-size:cover;
    position:relative; 
}

#skills{
    height:100vh;
    background: url('./img/background.png');
    background-size:cover;
    position:relative;  
}
#contact {
    height:100vh;
    background: url('./img/background.png');
    background-size:cover;
    position:relative;
    padding-bottom: 4rem;
}

.hero_title {
    font-size: 50px;
}
.hero_desc {
    font-size: 35px;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    float: right;
    transform: translate(-50%, -50%);
    color: white;
}

.imageAboutPage {
    width: 100%;
}

.skillsText.card {
    height: 125px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.skillsText:hover {
    border: 1px solid #008000;
}

.navbarScroll.navbarDark {
    background-color:black;
}

#about, #skills, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
.conct{
    float: right;
}


	
	