*{
    margin:0;
    padding:0;
    font-family:arial;
    box-sizing:content-box;
}
body{
    background-color: rgb(190, 189, 190);
    background-attachment:fixed;

}
.main{
    position:relative;
    background:linear-gradient(to top,rgba(185,184,185, 0.5)50%,rgba(185, 184, 185,0.5)50%);
    background-position:center;
    width:100%;
    height:100%;
}
.navbar{
   width:1200px;
   height:200px;
   margin:auto;
}
.icon{
    width:200px;
    float:left;
    height:70px;
}
.menu{
    width:400px;
    float:left;
    height:70px;
}
ul{
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
}
ul li{
    list-style:none;
    margin-left:80px;
    margin-top:27px;
    font-size:20px;
    font-style:normal;
}
ul li a{
    text-decoration:none;
    color:rgb(25, 32, 47);
    font-weight:bold;
    transition:0.4s ease; 
}
ul li a:hover{
    color:rgb(255, 244, 253);
}
.content{
    width:1200px;
    height:300px;
    float:left;
    border:none;
    margin:auto;
    color:white;
    position:relative;
    font-style:italic;
}
.content .par{
    padding-left:20px;
    padding-top:25px;
    padding-bottom:50px;
    letter-spacing:1.5px;
    line-height:20px;
    color:black;
}
.content h3{
    font-size:50px;
    padding-left:20px;
    margin-top:90px ;
    letter-spacing:2px;
    color:rgb(43, 108, 176);
    font-style:oblique;
}
.content span{
    color:rgb(43, 108, 176);
    font-size:60px;
    box-shadow: 10px 10px 10px  black;
    cursor:pointer;
    transition:0.2s ease;
}
.content span:hover{

    opacity:0.8;
} 
.section{
    width:800px;
    height:1200px;
    background:linear-gradient(to top,rgba(81, 92, 144, 0.359)50%,rgba(81, 92, 144, 0.359)50%);
    padding:5px;
    position:absolute;
    top:80px;
    left:550px;
}
.section h2{
    text-align:left;
}
.section h3{
    text-align:left;
    line-height:10px;

}
.section ul {
    float:none;
    font-size:5px;
    list-style-type:none;
    display:list-item ;
    align-items:left;
    letter-spacing:0.5px;

}
.section li{

    float:none;
    text-align:left;
    display:list-item;
    line-height:10px;
    margin-left:20px;
    font-size:medium;
    
}
section {
    background-color: white;
    font-family:arial;
    margin: 20px;
    padding: 15px;
    margin-top:15px;
    border-style:solid;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
section:hover{
    background-color:rgb(240, 235, 236);

}
